.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./static/bg-accueil.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color: rgb(5, 2, 2);
  padding: 0p;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app-header {
  background-image: url(./static/logo.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.822);
  opacity: 80%;
}

.menu {
  color: white;
  position: relative;
  padding-top: 20%;
  background-color: transparent;
  width: 50%;
  height: 200%;
  font-weight: 200;
  margin: auto;
}
.menu-item {
  position: relative;
  padding: 40px;
}
hr {
  margin-top: 50px;
}
a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

a:hover {
  color: white;
  font-weight: 300;
}
a:visited {
  color: white;
}

.artist-main {
  display: flex;
  position: relative;
  width: 100%;
  background-color: black;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

.peintre-pic {
  width: calc(50% - 1%);
  padding-bottom: 10%;
}
.main-text-title {
  font-size: 200%;
}
.main-text {
  width: calc(50% - 5%);
  text-align: left;
  font-size: 100%;
  font-weight: 300;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
}
.main-text div {
  width: calc(50%);
  padding-left: 5%;
}

.last-work {
  background-color: white;
  position: relative;
}
.last-work .main-text-title {
  color: black;
  padding-top: 1%;
}
@media screen and (max-width: 1024px) {
  .App {
    background-size: 150%;
    height: 70%;
  }

  .menu {
    width: 80%;
  }
  .menu-item {
    padding: 30px;
    font-size: 200%;
  }
  hr {
    margin-top: 50px;
  }

  .artist-main {
    flex-direction: column;
  }

  .peintre-pic {
    width: calc(100% - 1%);
    padding-bottom: 10%;
  }
  .main-text-title {
    font-size: 200%;
  }
  .main-text {
    width: calc(100% - 5%);
    font-size: 70%;
  }

  .last-work {
    background-color: white;
    position: relative;
    font-size: 120%;
  }
  .last-work .main-text-title {
    color: black;
    padding-top: 1%;
  }
}

/* Galerie */
.galery-page {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./static/bg-galerie.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.galery-header {
  background-image: url(./static/logonoir.png);
  background-repeat: no-repeat;
  background-position: top;
  background-color: white;
  width: 100%;
  opacity: 90%;
  margin-bottom: 30%;
}

.galery-menu {
  color: black;
  position: relative;
  padding-top: 15%;
  background-color: transparent;
  width: 50%;
  height: 200px;
  font-weight: 200;
  margin: auto;
}
.galery-menu-item {
  position: relative;
  padding: 40px;
}
.galery-menu a {
  color: black;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.galery-title {
  background-color: white;
  font-size: 300%;
  font-weight: 100;
  margin-top: -7%;
}

.galery {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
  padding: 15%;
  z-index: 1;
  background-color: white;
  padding-top: 30%;
  margin-top: -15%;
}

.array {
  width: calc(33.33% - 1%);
  height: 20em;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  float: left;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 54%;
  padding-top: 40px;
}

.array div {
  width: 100%;
  height: auto;
}
.g-array-title {
  font-size: 150%;
  font-weight: 250;
}
.g-array-dimension {
  font-size: 80%;
  font-weight: 100;
}
.fondu {
  position: relative;
  height: 50%;
  cursor: pointer;
}
.galerie-images-haut,
.galerie-images-bas {
  position: absolute;
  height: auto;
  left: 0;
  max-width: 100%;
}
.fondu img {
  transition: opacity 200ms linear;
}
.fondu img.galerie-images-haut:hover {
  opacity: 0;
}
.array-page {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
  margin: 5%;
  z-index: 2;
}

.array-title {
  text-align: center;
  width: 100%;
  font-size: 200%;
  font-weight: 100;
  color: black;
}

.array-main-pic {
  flex-basis: calc(50% - 5%);
  max-width: 50%;
  text-align: right;
  margin-bottom: 200px;
  box-shadow: 3px 3px rgb(182, 182, 68), -1em -0.2em 0.9em rgb(106, 106, 61);
}

.modal-main-pic {
  position: relative;
  height: 100%;
  overflow: scroll;
  z-index: 3;
}
::-webkit-scrollbar {
  width: 0.7em;
}

.zoom-pic {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.modal-main-pic:hover .zoom-pic {
  transform: scale(1.8);
  cursor: pointer;
}

.array-pic {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
}
.array-pic img[src="data:image/webp;base64,null"] {
  display: none;
}

.array-pic img {
  width: 10%;
  margin-right: 5%;
  cursor: pointer;
}

.array-info {
  width: calc(50% - 0%);
  background-color: white;
  font-size: large;
  font-weight: 200;
  color: black;
  position: relative;
  text-align: left;
  padding-bottom: 30%;
}
.array-info p {
  font-weight: 400;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 10px;
  position: relative;
  max-height: 90%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.close-button {
  position: absolute;
  top: 10%;
  right: 5%;
  background: none;
  border: none;
  font-size: 400%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .galery-page {
    background-size: 130%;
  }
  .galery-menu {
    width: 80%;
  }
  .galery-menu-item {
    padding: 30px;
  }
  .galery-menu a {
    font-size: 200%;
  }

  .galery-title {
    padding-top: 10%;
  }

  .array {
    width: calc(100% - 1%);
    margin-bottom: 70%;
    font-size: 120%;
  }

  .array div {
    width: 100%;
    height: auto;
  }
  .g-array-title {
    font-size: 190%;
    font-weight: 250;
  }
  .g-array-dimension {
    font-size: 120%;
    font-weight: 100;
  }

  .array-title {
    text-align: center;
    width: 100%;
    font-size: 200%;
    font-weight: 100;
    color: black;
  }

  .array-main-pic {
    margin-top: 30%;
    flex-basis: calc(100% - 5%);
    max-width: 100%;
    box-shadow: 3px 3px rgb(182, 182, 68), -1em -0.2em 0.9em rgb(106, 106, 61);
  }

  ::-webkit-scrollbar {
    width: 0.7em;
  }

  .array-info {
    width: calc(100% - 0%);
    font-size: 130%;
  }
  .array-info p {
    font-weight: 400;
  }

  .modal {
    padding: 0px;
  }
  .close-button {
    top: 5%;
  }
}
/* L'Artiste  */
.artist-page {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./static/bg-artiste.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  padding: 0p;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.artist-bloc {
  background-color: white;
  margin-top: -7%;
}
.artist-title {
  padding-top: 5%;
  font-size: 300%;
  font-weight: 200;
}

.biography {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10%;
}

.text {
  width: calc(50% - 1%);
  text-align: left;
  font-size: 100%;
  font-weight: 300;
}
.title {
  font-size: 200%;
}

.p {
  margin-bottom: 5%;
}

.biography img {
  width: calc(45% - 5%);
}
.inspiration {
  background-color: black;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10%;
}
.inspiration img {
  width: calc(40% - 5%);
}

.inspiration p {
  color: white;
}

.technical {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10%;
}

.technical img {
  width: calc(40% - 5%);
  padding-right: 5%;
}

.technical p {
  color: black;
}

.groups {
  background-color: black;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10%;
}

.groups p {
  color: white;
}
@media screen and (max-width: 1024px) {
  .artist-page {
    background-size: 140%;
  }

  .biography {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10%;
  }

  .text {
    width: calc(100% - 1%);

    font-size: 150%;
    font-weight: 200;
  }

  .biography img {
    width: calc(100% - 5%);
  }
  .inspiration {
    flex-direction: column-reverse;
  }
  .inspiration img {
    width: calc(80% - 5%);
  }

  .inspiration p {
    color: white;
  }

  .technical img {
    width: calc(40% - 5%);
  }

  .groups {
    flex-direction: column-reverse;
  }
}
/* Contact */
.Contact-page {
  position: absolute;
  z-index: 1;
  height: 1000px;
  background-color: rgba(240, 240, 200, 0.945);
  width: 100%;
  opacity: 90%;
}
.Contact-title {
  position: relative;
  font-family: fantasy;
  margin-top: 50px;
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.Contact-email {
  position: relative;
  margin-top: 150px;
}

/* Admin */
.admin-page {
  color: white;
  position: relative;
  padding-top: 10%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 100%;
  background-color: black;
  background-image: url(./static/logo.png);
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0p;
  margin: 0;
}
.admin-menu {
  padding-top: 20%;
}
.admin-title {
  font-size: 200%;
  padding-top: 10%;
}
.admin-bloc {
  background-color: black;
}
.admin-form {
  text-align: center;
  padding: 50px;
  justify-content: space-between;
}
.admin-list {
  background-color: white;
}
.admin-list .galery {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
  margin: 5%;
  padding: 0;
  z-index: 1;
  padding: 0;
}

.admin-list .array {
  width: calc(10% - 1%);
  height: 20em;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
  color: black;
  float: left;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 10%;
  margin-top: 40px;
}
.admin-list .g-array-title {
  font-size: 100%;
}
